.fleft{
	float:left;
}
.fright{
	float:right;
}
.center{
	margin:auto;
}
a{
	text-decoration:none;
}
body{
	margin:0;
}
input{
	width:200px;
	border:0px;
}
#footer{
	border-top:solid 1px #e6e6e6;
	text-align:center;
	font-size:12px;
	padding-bottom:30px;
	color:#999;
}
#footer .links{
	padding-top:30px;
	padding-bottom:15px;
}
.links a{
	color:#999;
	margin:0 15px;
}
.form-item{
	height:50px;
	border:solid 1px #DDDDDD;
	border-radius:2px;
}
.form-item label{
	padding-left:25px;
}
.form-item .field{
	font-size:15px;
	border:0 none;
	outline:medium;
	width:200px;
	height:20px;
	padding-left:10px;
	padding-top:15px;
	padding-bottom:15px;
}
.input-tip{
	height:35px;
	color:red;
}
.input-tip span{
}
.btn-register{
	width:400px;
	height:50px;
	font-size:large;
	border-radius:5px;
}
