#header{
	height:82px;
	box-shadow:0 5px #e6e6e6;
}
#header .logo{
	float:left;
	margin-top:5px;
	margin-left:40px;
	margin-right:25px;
	color:#c91623;
	font-size:47px;
}
#header .logo-title{
	float:left;
	margin-top:27px;
	margin-left：25px;
	padding-left:25px;
	border-left:solid 1px #999;
	font-size:25px;
}
.have-account{
	margin-top:30px;
	margin-right:50px;
	font-size:18px;
	color:#B9B5B5;
}
.have-account a{
	color:black;
}
#content{
	padding-top:40px;
}
#content div{
}
#register{
	width:400px;
	margin:auto;
	border:solid 0px none;
}
#email-error span{
	display:none;
}
#passwd-error span{
	display:none;
}
