#header{
	height:82px;
	border:solid 5px;
}
#content{
	padding-top:40px;
}
#content div{
}
#register{
	width:400px;
	margin:auto;
	border:solid 0px none;
}
#footer{
	height:70px;
	border:solid 5px;
}

